<div class="captcha_block">
	<label for="<?=$input->name?>"><?=$input->label?></label>
	<input class="input_text" type="text" name="<?=$input->name?>" id="<?=$input->name?>" <?php include "jsv.tpl"; ?> />
	<div class="captcha">
		<img src="captcha.php" alt="Капча" />
		<img src="/images/icons/update.png" alt="Обновить" />
	</div>
</div>