<div>
	<label for="<?=$input->name?>"><?=$input->label?></label>
	<input id="<?=$input->name?>" class="input_text" type="text" name="<?=$input->name?>" value="<?=$input->value?>" placeholder="<?=$input->default_v?>" <?php include "jsv.tpl"; ?> />
</div>