<div class="main">
	<article>
		<h1>Английский язык</h1>
		<p><b>Добро пожаловать!</b> Мы рады приветствовать всех, кто проявляет интерес к освоению английского и улучшению уровня владения родным языком. У великого русского писателя Ф.М. Достоевского есть изречение о том, что не усовершенствовав родной язык, иностранным не овладеешь. Новейшие достижения практиков-лингвистов в этой теме подтверждают его слова.</p>
		<p>На страницах нашего сайта вы сможете найти действенные и результативные методики, обучающие упражнения, пособия по грамматике, статьи и много других сведений по данной тематике. С их помощью вы воплотите в реальность ваши помыслы и мечты овладеть английским, улучшить технику речи родного языка.<br />Вы станете с английским языком на "ты"!</p>
		<p>Здесь следует поставить акцент на слове "<i>освоение</i>", а не "<i>изучение</i>", или "<i>обучение</i>". Поскольку, между глубинным смыслом слов "<i>освоение</i>" и "<i>изучение</i>" существует кардинальная разница, о которой, скорее всего, немногие задумывались всерьез.</p>
		<p>Под "<i>освоением</i>", подразумевается высокоэффективный, "<i>безусильный</i>" способ овладения языком, который не растягивается на годы, а занимает всего несколько месяцев. Таким способом мы познавали родной язык будучи детьми, только по дороге жизни предали его забвению.</p>
		<p>Приобретение навыка разговорной речи у детей, не говоря пока, о других ее формах, появляется в результате тотального слушания, подражания и воспроизведения звуков и слов. На что здесь хотелось бы пристально обратить свое внимание? На полное отсутствие у детей психологических и умственных "<i>потуг</i>", в то время, когда они учатся говорить, "<i>ставят сами себе</i>" произношение и беглую речь.</p>
		<p>Эффективнейшая методика для того чтобы освоить <strong>английский язык</strong>, с которой вы сможете ознакомиться на сайте, не содержит в себе отупляющих, “неживых” диалогов, скучного запоминания грамматических правил, лингвистических терминов и времен. Эта система изучения иностранных языков основывается на природном законе поглощения (абсорбирования) и усвоения информации, который свободно проявлял себя через вас в раннем детстве.</p>
		<p>Возможно, в дальнейшем, вы захотите ознакомиться с грамматикой. Но, скорее всего, отдельное изучение грамматических правил не будет иметь смысла, так как их понимание придет к вам естественным путем - в результате занятий по нашим курсам.</p>
	</article>
	<div class="block_record">
		<?=$blog?>
	</div>
</div>