<?php if (isset($hornav)) { ?><?=$hornav?><?php } ?>
<div class="main">
	<article>
		<h1>
			<?php if ($obj->section_id == 2) { ?>
				<?="Слова на букву \"".$obj->title."\""?>
			<?php } elseif ($obj->section_id == 5) { ?>
				<?="Идиомы на букву \"".$obj->title."\""?>
			<?php } else { ?>
				<?=$obj->title?>
			<?php } ?>
		</h1>
		<?=$obj->description?>

		<?php if ($obj->id == 2 OR $obj->id == 5) { ?>
			<?=$search_form?>
		<?php } elseif ($obj->section_id == 2 OR $obj->section_id == 5) { ?>
			<?=$search_form?>
		<?php } ?>
	</article>
</div>