<?php if (isset($hornav)) { ?><?=$hornav?><?php } ?>
<div class="main inside_page">
	<div class="record_insode_page">
		<article>
			<h1><?=$page->title?></h1>
			<div class="additional">
				<div class="comments">
					<a href="#">
						<span class="num_comm">12 Комментариев</span>
					</a>
				</div>
			</div>
			<?=$page->full?>
		</article>
	</div>
</div>