<div class="search">
	<form name="searchForm" action="<?=$link_search?>" method="get">
		<input class="text" name="query" type="text" value="" placeholder="введите текст для поиска...">
		<input class="button" type="submit" value="">
	</form>
</div>
<?php if ($auth_user) { ?>

<?php } else { ?>
	<div id="show_auth_block" class="auth"></div>
<?php } ?>