/* ---------- FILE STRUCTURE ----------
 * 
 * 
 *		__Basic_Styles
 *			__Buttons
 *			__Form
 *			__Unical_Form
 *		__Tabs_Block
 *		__Header
 *		__Header_Navigation
 *		__Content
 *			__Formatting_Center
 *			__Formatting_Right_Boxes
 *				__Unical_Formatting_Right_Boxes
 *			__Center
 *				__Block_Last_Record
 *				__Inside_Pages
 *				__Box_Search_Inside_Page
 *					__Basic_Search
 *				__Inside_Record_Page
 *				__Poll_Result
 *				__User_Profile_Edit
 *			__Right_Boxes
 *				__Unical_Block
 *					__Text_Content_Block
 *					__Poll_Block
 *		__Footer
 * 		__Adaptive
 * 
 * 
 * ----------------------------------*/




html, body {
	height: 100%;
}

body {
	background-color: #e2e2e2;
	font-family: "Helvetica";
	margin: 0;
	min-width: 990px;
	padding: 0;
	/* CSS3 */
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		-os-font-smoothing: antialiased;
		font-smoothing: antialiased;
	/* --- */
}

/* __Basic_Styles */
	.clear {
		clear: both;
	}

	#container {
		background-color: #ffffff;
		margin: 0 auto;
		max-width: 1280px;
		padding: 0;
	}



	/* __Buttons */
		.yellow_button_large {
			background-color: #f6b915;
			border: 2px solid #e4ac15;
			color: #ffffff !important;
			cursor: pointer;
			display: inline-block;
			font-size: 16px !important;
			font-weight: bold !important;
			outline: none;
			margin: 0;
			padding: 10px 15px;
			text-decoration: none;
			/* CSS3 */
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			/* --- */
		}

		.yellow_button_large:hover {
			background-color: #f3c23e;
		}

		.yellow_button_large:active {
			box-shadow: 0 0 0 20px #e2aa15 inset;
		}

		.yellow_button_small {
			background-color: #f6b915;
			border: 2px solid #e4ac15;
			color: #ffffff !important;
			cursor: pointer;
			display: inline-block;
			font-size: 13px !important;
			font-weight: bold !important;
			outline: none;
			margin: 0;
			padding: 7px 10px;
			text-decoration: none;
			/* CSS3 */
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			/* --- */
		}

		.yellow_button_small:hover {
			background-color: #f3c23e;
		}

		.yellow_button_small:active {
			box-shadow: 0 0 0 20px #e2aa15 inset;
		}

		.green_button_small {
			background-color: #22ab1c;
			border: 2px solid #1c9416;
			color: #ffffff !important;
			cursor: pointer;
			display: inline-block;
			font-size: 13px !important;
			font-weight: bold !important;
			outline: none;
			margin: 0;
			padding: 7px 10px;
			text-decoration: none;
			/* CSS3 */
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			/* --- */
		}

		.green_button_small:hover {
			background-color: #28b622;
		}

		.green_button_small:active {
			box-shadow: 0 0 0 20px #1c9416 inset;
		}
	/* --- */



	/* __Form */
		label {
			cursor: pointer;
			font-size: 15px;
			font-weight: bold;
		}

		.input_text {
			border: 2px solid #b6b6b6;
			font-family: "Helvetica";
			font-size: 14px;
			font-weight: lighter;
			height: 30px;
			outline: none;
			padding: 0 10px;
			width: 160px;
			/* CSS3 */
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			/* --- */
		}

		.input_text:focus {
			border: 2px solid #6a98b0;
		}

		.input_text_large {
			height: 38px;
			width: 200px;
		}

		.radio_button {
			display: none;
		}

		.radio_button + label:before {
			background-color: #f6b915;
			border: 2px solid #497891;
			border-radius: 50%;
			box-shadow: 0 0 0 7px #ffffff inset;
			content: "";
			cursor: pointer;
			display: inline-block;
			height: 12px;
			margin: 0 9px 0 0;
			position: relative;
			top: 4px;
			width: 12px;
			/* CSS3 */
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			/* --- */
		}

		.radio_button + label:hover:before {
			box-shadow: 0 0 0 10px #dbe4e9 inset;
		}

		.radio_button:checked + label:before {
			border: 2px solid #497891;
			box-shadow: 0 0 0 3px #ffffff inset;
		}

		form .captcha > img:nth-child(2) {
			cursor: pointer;
		}

		/* __Unical_Form */
			form[name="poll"] > div label {
				font-weight: lighter;
			}

			.form #register form > div,
			.form #reset form > div,
			.form #change_avatar form > div,
			.form #basic_user_data form > div,
			.form #user_safety form > div {
				margin: 0 0 15px;
			}

			.form #register form > div label,
			.form #reset form > div label,
			.form #change_avatar form > div label,
			.form #basic_user_data form > div label,
			.form #user_safety form > div label {
				display: inline-block;
				margin: 0 -2px 0 0;
				vertical-align: middle;
				width: 200px;
			}

			.form #reset form > div label {
				display: block;
				margin: 0 0 7px 0;
				width: auto;
			}

			.form #register form .captcha_block .captcha {
				display: inline-block;
				margin: 0 0 0 15px;
				vertical-align: middle;
			}

			.form #register form .captcha_block .captcha img:nth-child(1) {
				border: 1px solid rgba(0, 0, 0, 0.1);
			}

			.form #register form .captcha_block .captcha img:nth-child(2) {
				left: 10px;
				position: relative;
				top: -22px;
			}

			.form #avatar_info form .captcha_block .captcha img:nth-child(2) {
				left: 10px;
				position: relative;
				top: -22px;
			}
		/* --- */
	/* --- */



	/* __Tabs_Block */
		.tabs-block .tabs {
			margin: 20px 0 0;
			padding: 0;
		}
		
		.tabs-block .tabs:after {
			background-color: #b6b6b6;
			content: "";
			clear: both;
			display: block;
			height: 3px;
			left: -30px;
			position: relative;
			width: 30px;
		}
		
		.tabs-block .tabs li {
			background-color: #e8e8e8;
			border: 1px solid #e0e0e0;
			border-bottom: 3px solid #b6b6b6;
			border-left: none;
			color: #324047;
			cursor: pointer;
			float: left;
			font-size: 14px;
			list-style: none;
			margin: 0 0 -3px;
			padding: 10px 20px;
		}
		
		.tabs-block .tabs li:first-child {
			border-left: 1px solid #e0e0e0;
		}
		
		.tabs-block .tabs li.current {
			background-color: #f2f2f2;
			border-bottom: 3px solid #6a98b0;
		}
	/* --- */
/* --- */



/* __Header */
	header {
		background-color: #f2f2f2;
		max-width: 1280px;
		min-width: 990px;
		height: 64px;
		position: fixed;
		width: 100%;
		z-index: 20;
	}

	header .logo a {
		background: url(../images/logo.png) no-repeat 0 0 transparent;
		float: left;
		height: 64px;
		width: 64px;
	}

	header .topmenu {
		float: left;
		margin: 0 0 0 22px;
	}

	header .topmenu ul {
		margin: 0;
		padding: 0;
	}

	header .topmenu ul li {
		margin: 0;
		padding: 0;
	}

	header .topmenu > ul > li {
		list-style: none;
		float: left;
		margin: 0 -1px 0 0;
		position: relative;
	}

	header .topmenu > ul > li > a {
		background-color: #e8e8e8;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		color: #324047;
		display: block;
		font-size: 14px;
		font-weight: lighter;
		overflow: hidden;
		margin: 0;
		padding: 24px 20px;
		position: relative;
		text-decoration: none;
		/* CSS3 */
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		/* --- */
	}

	header .topmenu > ul > li > a:before {
		background-color: #f2f2f2;
		border-top: 5px solid #b6b6b6;
		bottom: -64px;
		content: "";
		display: block;
		height: 64px;
		left: 0;
		position: absolute;
		width: 100%;
		/* CSS3 */
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		/* --- */
	}

	header .topmenu ul > li.active > a:before {
		border-top: 5px solid #6a98b0;
		bottom: -5px;
	}

	header .topmenu ul > li > a span {
		position: relative;
		z-index: 10;
	}

	header .topmenu ul > li > a i {
		background: url(../images/icons/sprite_icons.png) no-repeat 0 -244px transparent;
		display: inline-block;
		height: 6px;
		left: 7px;
		position: relative;
		top: -1px;
		width: 10px;
	}

	header .topmenu ul > li.active > a i {
		background-position: 0 -228px;
	}

	header .topmenu ul > li > a:after {
		border: 5px solid transparent;
		border-top: 0px solid #b6b6b6;
		content: "";
		left: 3px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 59px;
		width: 0;
		/* CSS3 */
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		/* --- */
	}

	header .topmenu ul > li.active > a:after {
		border-top: 5px solid #6a98b0;
		top: 5px;
	}

	header .topmenu li > ul {
		box-shadow: 0 5px 10px rgba(182, 182, 182, 1);
		visibility: hidden;
		position: absolute;
		width: 200px;
		z-index: 20;
	}

	header .topmenu li.active > ul {
		visibility: visible;
	}

	header .topmenu li > ul li {
		border: 1px solid #e0e0e0;
		background-color: #f2f2f2;
		list-style: none;
		margin: -1px 0 0;
		padding: 0 20px;
	}

	header .topmenu li > ul li:hover,
	header .topmenu li > ul li.active {
		background-color: #f7f7f7;
	}

	header .topmenu li > ul li a {
		color: #324047;
		display: block;
		font-size: 13px;
		font-weight: lighter;
		margin: 0 -20px;
		padding: 17px 20px;
		text-decoration: none;
	}

	header .topmenu li > ul li.active a {
		font-weight: normal;
	}

	header .search {
		float: right;
		width: 368px;
	}

	header .search .text {
		border: 2px solid #b6b6b6;
		border-right: none;
		float: left;
		font-family: "Helvetica";
		font-size: 14px;
		font-weight: lighter;
		height: 50px;
		outline: none;
		padding: 0 15px;
		position: relative;
		top: 5px;
		right: -6px;
		width: 270px;
		/* CSS3 */
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		/* --- */
	}

	header .search .text:focus {
		border: 2px solid #6a98b0;
	}

	header .search .button {
		background: url(../images/icons/search_icon.png) no-repeat 0 0 transparent;
		border: none;
		cursor: pointer;
		float: right;
		height: 64px;
		outline: none;
		position: relative;
		width: 64px;
		z-index: 10;
	}

	header .auth {
		background: url(../images/icons/lock.png) no-repeat center center #e8e8e8;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		cursor: pointer;
		float: right;
		height: 64px;
		margin: 0 9px 0 0;
		width: 64px;
		/* CSS3 */
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		/* --- */
	}

	header .auth:hover,
	header .auth.active {
		background: url(../images/icons/lock_active.png) no-repeat center center #f7f7f7;
	}

	#auth_block_fix {
		position: fixed;
		top: 64px;
		z-index: 18;
	}

	#auth_block {
		background-color: #f7f7f7;
		border-bottom: 1px solid #e0e0e0;
		box-shadow: 0 0 0 rgba(182, 182, 182, 1);
		height: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		/* CSS3 */
			-webkit-transition: all 0.6s ease;
			transition: all 0.6s ease;
		/* --- */
	}

	#auth_block.show {
		box-shadow: 0 5px 10px rgba(182, 182, 182, 1);
		height: 54px;
	}

	#auth_block > div {
		float: right;
		margin: 10px 15px 10px 0;
	}

	#auth_block form {
		float: left;
	}

	#auth_block form input[class="input_text"] {
		margin: 0 3px 0;
	}

	#auth_block form input[type="submit"] {
		margin: 0 10px 0 3px;
	}

	#auth_block .green_button_small {
		display: inline-block;
		float: left;
	}

	#auth_block .reset {
		float: left;
		margin: 0 0 0 10px;
	}

	#auth_block .reset a {
		color: #497891;
		display: block;
		font-size: 14px;
	}

	#auth_block .reset a:hover {
		color: #6a98b0;
		text-decoration: none;
	}
/* --- */



/* __Header_Navigation */
#header_navigation {
	background-color: #f3f7f9;
	border: 1px solid #8cb3c7;
	border-left: none;
	display: inline-block;
	margin: 25px 0 0 -30px;
	padding: 13px 32px;
}

#header_navigation p {
	color: #324047 !important;
	font-size: 14px !important;
	font-weight: lighter !important;
	margin: 0 !important;
}

#header_navigation a {
	color: #497891 !important;
	font-size: 14px !important;
}

#header_navigation a:hover {
	color: #6a98b0 !important;
	text-decoration: none !important;
}
/* --- */



/* __Content */
	#content {
		padding: 64px 30px 50px;
		position: relative;
	}



	/* __Formatting_Center */
		#content .center h1 {
			color: #324047;
			font-size: 32px;
		}

		#content .center h2 {
			color: #324047;
			font-size: 28px;
		}

		#content .center h3 {
			color: #324047;
			font-size: 25px;
		}

		#content .center h4 {
			color: #324047;
			font-size: 20px;
		}

		#content .center p {
			color: #000000;
			font-size: 15px;
			font-weight: lighter;
			line-height: 21px;
			margin: 0 0 16px;
			text-align: justify;
		}

		#content .center a {
			color: #497891;
			font-size: 14px;
			font-weight: lighter;
		}

		#content .center a:hover {
			color: #6a98b0;
			text-decoration: none;
		}

		#content .center .message_warning {
			color: #ff0000;
			font-weight: bold;
			margin: 22px 0 20px;
			text-align: center;
		}
	/* --- */



	/* __Formatting_Right_Boxes */
		#content .right_boxes .box .content_box .title {
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 1px;
		}

		#content .right_boxes .box .content_box .description {
			font-size: 14px;
			font-weight: lighter;
			line-height: 18px;
			margin: 0;
		}

		#content .right_boxes .box .content_box a {
			color: #497891;
			font-size: 14px;
			font-weight: lighter;
		}

		#content .right_boxes .box .content_box a:hover {
			color: #6a98b0;
			text-decoration: none;
		}

		/* __Unical_Formatting_Right_Boxes */
			#content .right_boxes .box .content_box .user_panel_content p {
				font-size: 14px;
				font-weight: lighter;
				margin: 0;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_avatar {
				background-color: #f5f5f5;
				border: 1px solid #777777;
				height: 124px;
				overflow: hidden;
				margin: 12px auto 0;
				position: relative;
				width: 124px;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_avatar img {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu {
				margin: 15px 0 0;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu ul {
				margin: 0;
				padding: 0;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu ul li {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu ul li a {
				color: #497891;
				border-top: 1px solid #dbe4e9;
				display: block;
				font-weight: bold;
				margin: 0 -15px;
				padding: 10px 15px;
				text-decoration: none;
				/* CSS3 */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				/* --- */
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu ul li:last-child > a {
				border-bottom: 1px solid #dbe4e9;
			}

			#content .right_boxes .box .content_box .user_panel_content .user_menu ul li a:hover {
				background-color: rgba(250, 250, 250, 0.7);
			}
		/* --- */
	/* --- */


	/* __Center */
		#content .center {
			margin: 0 300px 0 0;
			max-width: 915px;
		}

		#content .center .main {
			float: left;
			width: 100%;
		}



		/* __Block_Last_Record */
			#content .center .block_record {
				margin: 40px 0 0;
			}

			#content .center .block_record .block {
				margin: 0 0 20px;
			}

			#content .center .block_record .block:last-child {
				margin: 0;
			}

			#content .center .block_record .block .title_block {
				background-color: #6a98b0;
				color: #ffffff;
				font-size: 18px;
				font-weight: bold;
				padding: 15px 20px;
			}

			#content .center .block_record .block .content_block {
				background-color: #ffffff;
				border: 1px solid #497891;
				padding: 0 15px;
			}

			#content .center .block_record .block .content_block section {
				border-bottom: 1px solid #dbe4e9;
				margin: 0 -15px;
				padding: 15px;
				position: relative;
			}

			#content .center .block_record .block .content_block section:last-child {
				border-bottom: none;
			}

			#content .center .block_record .block .content_block section:after {
				clear: both;
				content: "";
				display: block;
			}

			#content .center .block_record .block .content_block section .image {
				float: left;
				height: 150px;
				overflow: hidden;
				margin: 0 20px 0 0;
				position: relative;
				width: 190px;
			}

			#content .center .block_record .block .content_block section .image img {
				bottom: -999px;
				left: -999px;
				margin: auto;
				position: absolute;
				top: -999px;
				right: -999px;
				width: 100%;
			}

			#content .center .block_record .block .content_block section .intro_text {
				min-height: 40px;
			}

			#content .center .block_record .block .content_block section .intro_text h2 {
				color: #324047;
				font-size: 20px;
				margin: 0 0 2px;
			}

			#content .center .block_record .block .content_block section .intro_text p .example {
				color: #af3a16;
				font-style: italic;
			}

			#content .center .block_record .block .content_block section .intro_text p:last-child {
				margin: 0;
			}

			#content .center .block_record .block .content_block section .additional {
				margin: 25px 0 0;
				position: relative;
				top: 4px;
			}

			#content .center .block_record .block .content_block section .additional > div {
				display: inline-block;
				margin: 0 15px 0 0;
			}

			#content .center .block_record .block .content_block section .additional > div:last-child {
				margin: 0;
			}

			#content .center .block_record .block .content_block section .additional .comments .num_comm {
				font-size: 15px;
				font-weight: lighter;
			}

			#content .center .block_record .block .content_block section .additional .comments .num_comm:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -19px 0 transparent;
				content: "";
				display: inline-block;
				height: 14px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .block_record .block .content_block section .additional .date .date_publication {
				color: #777777;
				font-size: 13px;
				font-weight: bold;
			}

			#content .center .block_record .block .content_block section .additional .date .date_publication:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -45px 0 transparent;
				content: "";
				display: inline-block;
				height: 16px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .block_record .block .content_block section .more {
				bottom: 15px;
				position: absolute;
				right: 15px;
			}

			#content .center .block_record .block .content_block section .more a:after {
				background: url(../images/icons/sprite_icons.png) no-repeat 0 0 transparent;
				content: "";
				display: inline-block;
				height: 16px;
				left: 0;
				margin: 0 0 0 10px;
				vertical-align: middle;
				position: relative;
				width: 9px;
				/* CSS3 */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				/* --- */
			}

			#content .center .block_record .block .content_block_categories .menu_categories_section ul {
				display: table;
				margin: 0 auto;
				padding: 0;
			}

			#content .center .block_record .block .content_block_categories .menu_categories_section li {
				display: inline-block;
				list-style: none;
				margin: 0 12px;
				padding: 0;
			}

			#content .center .block_record .block .content_block_categories .menu_categories_section li:first-child {
				margin: 0 12px 0 0;
			}

			#content .center .block_record .block .content_block_categories .menu_categories_section li:last-child {
				margin: 0 0 0 12px;
			}

			#content .center .block_record .block .content_block_categories .menu_categories_section li a {
				font-size: 15px;
				font-weight: bold;
			}

			#content .center .block_record .block .content_block_categories .menu_main_sections {
				margin: 0 0 0 30px;
				padding: 0;
			}

			#content .center .block_record .block .content_block_categories .menu_main_sections li {
				color: #497891;
				font-size: 20px;
				margin: 0 0 10px;
			}

			#content .center .block_record .block .content_block_categories .menu_main_sections li a {
				font-size: 16px;
				font-weight: bold;
			}

			#content .center .block_record .block .pagination ul {
				display: table;
				margin: 30px auto 0;
				padding: 0;
			}

			#content .center .block_record .block .pagination li {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
			}

			#content .center .block_record .block .pagination li a,
			#content .center .block_record .block .pagination li span {
				background-color: #f3f7f9;
				border: 1px solid #8CB3C7;
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				padding: 5px 7px;
				text-decoration: none;
				/* CSS3 */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				/* --- */
			}

			#content .center .block_record .block .pagination li a:hover {
				background-color: #ffffff;
			}

			#content .center .block_record .block .pagination li span.current {
				background-color: #f9f9f9;
				color: #b3b3b3;
				cursor: default;
			}
		/* --- */



		/* __Inside_Pages */
			#content .center .inside_pages .image {
				height: 300px;
				overflow: hidden;
				margin: 0 auto;
				position: relative;
				width: 380px;
			}

			#content .center .inside_pages .image img {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}

			#content .center .inside_pages article .additional {
				background-color: #f2f2f2;
				border: 1px solid #b6b6b6;
				border-left: none;
				margin: 17px 0 17px -30px;
				padding: 5px 30px 7px 30px;
			}

			#content .center .inside_pages article .additional > div {
				display: inline-block;
				margin: 0 15px 0 0;
			}

			#content .center .inside_pages article .additional > div:last-child {
				margin: 0;
			}

			#content .center .inside_pages article .additional .comments .num_comm {
				font-size: 15px;
				font-weight: lighter;
			}

			#content .center .inside_pages article .additional .comments .num_comm:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -19px 0 transparent;
				content: "";
				display: inline-block;
				height: 14px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .inside_pages article .additional .date .date_publication {
				color: #777777;
				font-size: 13px;
				font-weight: bold;
			}

			#content .center .inside_pages article .additional .date .date_publication:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -45px 0 transparent;
				content: "";
				display: inline-block;
				height: 16px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .inside_pages article .additional .section {
				float: right;
			}

			#content .center .inside_pages article .additional .section .name_section {
				font-weight: bold;
			}

			#content .center .inside_pages article .additional .section .name_section:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -71px 0 transparent;
				content: "";
				display: inline-block;
				height: 16px;
				margin: 0 5px 0 0;
				position: relative;
				top: 4px;
				width: 16px;
			}

			#content .center .inside_pages .record_pn {
				margin: 25px 0px 0 -30px;
				border: 1px solid #b6b6b6;
				background-color: #f2f2f2;
				border-left: none;
				padding: 15px 30px;
			}
		/* --- */



		/* __Box_Search_Inside_Page */
			#content .center .search_inside_page {
				margin: 0 0 40px;
				position: relative;
			}

			#content .center .search_inside_page p {
				margin: 0 0 10px;
			}

			#content .center .search_inside_page > form {
				position: relative;
			}

			#content .center .search_inside_page > form .input_text.input_text_large {
				padding: 0 16% 0 1%;
				width: 82.4%;
			}

			#content .center .search_inside_page > form .yellow_button_large {
				bottom: 0;
				position: absolute;
				right: 0;
				width: 15%;
			}

			/* __Basic_Search */
				#content .center .search_page {
					padding: 20px 0 0;
				}
				#content .center .search_page > form {
					margin: 0 0 12px;
				}

				#content .center .search_page .message {
					color: #D91E18;
					font-size: 15px;
					font-weight: bold;
					text-align: center;
				}

				#content .center .search_page .search_result {
					margin: 27px 0 0;
				}

				#content .center .search_page .search_result .find_text {
					font-size: 16px;
					margin: 0 0 15px;
				}

				#content .center .search_page .search_result .section {
					color: #324047;
					font-size: 22px;
					font-weight: bold;
					margin: 43px 0 10px;
				}

				#content .center .search_page .search_result .section:nth-child(2) {
					margin: 0 0 10px;
				}

				#content .center .search_page .search_result .search_item {
					border: 1px solid #497891;
					margin: 0 0 15px;
					padding: 0;
				}

				#content .center .search_page .search_result .search_item:last-child {
					margin: 0;
				}

				#content .center .search_page .search_result .search_item .info_item {
					border-bottom: 1px solid #dbe4e9;
					padding: 9px 10px 7px;
				}

				#content .center .search_page .search_result .search_item .info_item ul {
					margin: 0;
					padding: 0;
				}

				#content .center .search_page .search_result .search_item .info_item ul li {
					list-style: none;
					float: left;
					font-size: 14px;
					font-weight: lighter;
					margin: 0 15px 0 0;
					padding: 0;
				}

				#content .center .search_page .search_result .search_item .info_item ul li:last-child {
					margin: 0;
				}

				#content .center .search_page .search_result .search_item .info_item ul li .title {
					color: #497891;
					font-size: 16px;
					font-weight: bold;
				}

				#content .center .search_page .search_result .search_item .text_item {
					padding: 11px 15px 12px;
				}

				#content .center .search_page .search_result .search_item .text_item > p {
					margin: 0;
				}

				#content .center .search_page .search_result .search_item .text_item > p span {
					background-color: rgba(247, 202, 24, 0.5);
					font-size: 15px;
					font-weight: bold;
					padding: 1px 1px 3px;
					margin: 0 -1px;
				}
			/* --- */
		/* --- */



		/* __Inside_Record_Page */
			#content .center .inside_page .record_insode_page .additional {
				margin: -11px 0 16px;
				text-align: right;
			}

			#content .center .inside_page .record_insode_page .additional > div {
				display: inline-block;
				margin: 0 15px 0 0;
			}

			#content .center .inside_page .record_insode_page .additional > div:last-child {
				margin: 0;
			}

			#content .center .inside_page .record_insode_page .additional .comments .num_comm {
				font-size: 15px;
				font-weight: lighter;
			}

			#content .center .inside_page .record_insode_page .additional .comments .num_comm:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -19px 0 transparent;
				content: "";
				display: inline-block;
				height: 14px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .inside_page .record_insode_page .additional .date .date_publication {
				color: #777777;
				font-size: 13px;
				font-weight: bold;
			}

			#content .center .inside_page .record_insode_page .additional .date .date_publication:before {
				background: url(../images/icons/sprite_icons.png) no-repeat -45px 0 transparent;
				content: "";
				display: inline-block;
				height: 16px;
				margin: 0 5px 0 0;
				position: relative;
				top: 2px;
				width: 16px;
			}

			#content .center .inside_page .record_insode_page .image_record {
				float: left;
				height: 300px;
				margin: 5px 20px 16px 0;
				overflow: hidden;
				position: relative;
				width: 400px;
			}

			#content .center .inside_page .record_insode_page .image_record img {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}

			#content .center .inside_page .record_insode_page #record_pn {
				margin: 26px 0 0;
				padding: 0 20px;
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record,
			#content .center .inside_page .record_insode_page #record_pn #next_record {
				font-size: 13px;
				font-weight: bold;
				padding: 0 0 4px 0;
				position: relative;
				text-decoration: none;
				/* CSS3 */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s 0.05s ease;
				/* --- */
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record {
				float: left;
				right: 0;
			}

			#content .center .inside_page .record_insode_page #record_pn #next_record {
				float: right;
				left: 0;
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record:hover {
				right: 30px;
			}

			#content .center .inside_page .record_insode_page #record_pn #next_record:hover {
				left: 30px;
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record:before,
			#content .center .inside_page .record_insode_page #record_pn #next_record:after {
				content: "";
				display: inline-block;
				height: 18px;
				position: relative;
				top: 4px;
				width: 11px;
				/* CSS3 */
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s 0.05s ease;
				/* --- */
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record:before {
				background: url(../images/icons/record_pn_left.png) no-repeat 0 0 transparent;
				margin: 0 20px 0 0;
				right: 0;
			}

			#content .center .inside_page .record_insode_page #record_pn #next_record:after {
				background: url(../images/icons/record_pn_right.png) no-repeat 0 0 transparent;
				left: 0;
				margin: 0 0 0 20px;
			}

			#content .center .inside_page .record_insode_page #record_pn #prev_record:hover:before {
				background: url(../images/icons/record_pn_left_active.png) no-repeat 0 0 transparent;
				right: -10px;
			}

			#content .center .inside_page .record_insode_page #record_pn #next_record:hover:after {
				background: url(../images/icons/record_pn_right_active.png) no-repeat 0 0 transparent;
				left: -10px;
			}
		/* --- */



		/* __Poll_Result */
			#content .center .inside_page #poll_result > div {
				margin: 0 0 16px;
			}

			#content .center .inside_page #poll_result > div .title_varpoll {
				margin: 0 0 5px;
			}

			#content .center .inside_page #poll_result > div .poll_result {
				background-color: #e4ac15;
				color: #ffffff;
				display: block;
				font-size: 14px;
				font-weight: bold;
				height: 20px;
				max-width: 93%;
				min-width: 2%;
				padding: 3px 0 0;
				text-align: center;
			}

			#content .center .inside_page #poll_result > div .poll_percent {
				float: right;
				font-size: 14px;
				font-weight: bold;
				height: 0;
				left: 0;
				margin: 0;
				position: relative;
				top: -21px;
			}
		/* --- */



		/* __User_Profile_Edit */
			#content .center .main #profile .avatar_info .avatar {
				background-color: #f5f5f5;
				border: 1px solid #777777;
				height: 124px;
				overflow: hidden;
				margin: 0 0 12px;
				position: relative;
				width: 124px;
			}

			#content .center .main #profile .avatar_info .avatar img {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}
		/* --- */
	/* --- */



	/* __Right_Boxes */
		#content .right_boxes {
			float: right;
			margin: 25px 0 0;
		}

		#content .right_boxes .box {
			margin: 0 0 20px;
			width: 265px;
		}

		#content .right_boxes .box:last-child {
			margin: 0;
		}

		#content .right_boxes .box .title_box {
			background-color: #6a98b0;
			color: #ffffff;
			font-size: 18px;
			font-weight: bold;
			padding: 15px 20px;
			text-align: center;
		}

		#content .right_boxes .box .content_box {
			background-color: #ffffff;
			border: 1px solid #497891;
			padding: 15px;
		}

		/* __Unical_Block */
			/* __Text_Content_Block */
				#content .right_boxes .box .content_box .text_content_block .block {
					border-bottom: 1px solid #dbe4e9;
					margin: 0 -15px;
					padding: 10px 15px;
				}

				#content .right_boxes .box .content_box .text_content_block .block:first-child {
					padding: 0 15px 15px;
				}

				#content .right_boxes .box .content_box .text_content_block .more {
					margin: 16px 0 0;
				}

				#content .right_boxes .box .content_box .text_content_block .more ul {
					margin: 0;
					padding: 0;
				}

				#content .right_boxes .box .content_box .text_content_block .more ul li {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				#content .right_boxes .box .content_box .text_content_block .more ul li.usual:before {
					background-color: #497891;
					border-radius: 50%;
					content: "";
					display: inline-block;
					height: 5px;
					margin: 0 5px 0 0;
					position: relative;
					top: -2px;
					width: 5px;
				}

				#content .right_boxes .box .content_box .text_content_block .more ul li.title {
					font-size: 14px;
					font-weight: bold;
					margin: 0 0 6px;
				}

				#content .right_boxes .box .content_box .text_content_block .more ul li.title p {
					margin: 0;
				}
			/* --- */



			/* __Poll_Block */
				#content .right_boxes .box .content_box .poll > p {
					border-bottom: 1px solid #dbe4e9;
					font-size: 15px;
					font-weight: lighter;
					margin: 0 -15px;
					padding: 0 15px 15px;
				}

				#content .right_boxes .box .content_box .poll form {
					margin: 23px 0 0;
				}

				#content .right_boxes .box .content_box .poll form > div {
					margin: 13px 0;
				}

				#content .right_boxes .box .content_box .poll form > div:last-child {
					border-top: 1px solid #dbe4e9;
					margin: 18px -15px 0;
					padding: 13px 15px 0;
					text-align: center;
				}
			/* --- */
		/* --- */
	/* --- */
/* --- */



/* __Footer */
footer {
	background-color: #324047;
	height: 100px;
	padding: 20px 10px;
	position: relative;
}

footer .footmenu ul {
	display: table;
	margin: 0 auto;
	padding: 0;
}

footer .footmenu ul li {
	display: inline-block;
	list-style: none;
	margin: 0 15px;
	padding: 0;
}

footer .footmenu ul li a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	font-weight: lighter;
}

footer .footmenu ul li a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

footer .bottom {
	bottom: 0px;
	position: absolute;
}

footer .bottom .copyright p {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-weight: lighter;
}
/* --- */



/* __Adaptive */
@media (max-width: 1256px) {
	#content .center .block_record .block .content_block_categories .menu_categories_section ul li {
		margin: 0 7px;
	}
}
/* --- */